/* external style sheet for GitHub pages home page */
/* contact jhiggin8@gmu.edu with questions! */

body {
  background-color: #ecebf3;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Fredoka One', cursive;
  color: blue;
}
